#------------------------------------------------------------------------------
#                                 MINION services
#                                                       Fred J.   Juin 2023
#                                                       Fred J.   Janvier 2024
#------------------------------------------------------------------------------
[Unit]
Description=Minion Camera
After=multi-user.target

[Service]
Type=simple
User=pi
Group=pi

WorkingDirectory=/home/pi/MINION/camera
ExecStart=/home/pi/MINION/venv/bin/python  /home/pi/MINION/camera/camera_to_minion.py

Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
